{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center">{% block title %} List of Games from 2013 and UP {% endblock %}</h1>
{% endblock %}

{% block content %}

<div>
    <canvas id="myChart" class="text-center"></canvas>
    <div>
        <a href="{{ url_for('sample.other_example') }}"> Next Page </a>
    </div>
</div>
<script>
let platforms = []
let global_sales = []
{% for
{% for console in list_platforms %}
platforms.push("{{ console }}");
{% endfor %}
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels:  platforms
        datasets: [{
            label: {{ chart_name }}
            {% for game in list_platforms %}
            data: {{ game['globalSale'] }},
            {% endfor %}
            options: {
                scales: {
                yAxes: [{
                ticks: {
                beginAtZero: true
                }
            }]
        }
    }
});
</script>
{% endblock %}


