{% extends 'base.html' %}

{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Erbium Data</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/globalSales">Global Sales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/init">The Classics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/naSales">North American</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/namedGames">Search by Title</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <strong>ERBIUM</strong>
    </div>
  </div>
</nav>
<h1 style="text-align: center">{% block title %} Where to Invest? Video Game Console Performance 2013-Current {% endblock %}</h1>
{% endblock %}

{% block content %}

<div>
  <canvas id="myChart" width="400" height="400"></canvas>
</div>
<script>
let platforms = []
let global_sales = []
{% for values in global_values %}
global_sales.push({{ global_values[values] }});
{% endfor %}
{% for console in list_platforms %}
platforms.push("{{ console }}");
{% endfor %}
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels:  platforms, 
        datasets: [{
            label: "Based on Copies Sold Globally (millions)",
            data: global_sales,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
              scaleLabel: {
                display: true,
                labelString: 'Game Consoles'
              },
                ticks: {
                    beginAtZero: true
                }
            }]

        }
    }
});

</script>
{% endblock %}