{% extends 'base.html' %}

{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Erbium Data</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/globalSales">Global Sales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/init">The Classics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/naSales">North American</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/namedGames">Search by Title</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <strong>ERBIUM</strong>
    </div>
  </div>
</nav>
<h1 style="text-align: center; padding-top: 20px; padding-bottom: 15px">{% block title %} The Classics {% endblock %}</h1>
{% endblock %}

{% block content %}


<div>
    <div class="section search-section">
        <br>
    </div>

    <div>
        <table class="table-hover">
            <thead class="table-style">
                <th>Rank</th>
                <th>Name</th>
                <th>Platform</th>
                <th>Year</th>
                <th>Genre</th>
                <th>Publisher</th>
                <th>North America Sales</th>
                <th>Europe Sales</th>
                <th>Japan Sales</th>
                <th>Global Sales</th>
            </thead>
            <tbody>
            {% for game in list_games %}
                <tr class="table-primary">
                    <td width="5%">{{game["rank"]}}</td>
                    <td width="28%">{{game["name"]}}</td>
                    <td width="8%">{{game["platform"]}}</td>
                    <td width="5%">{{game["year"]}}</td>
                    <td width="8%">{{game["genre"]}}</td>
                    <td width="25%">{{game["publisher"]}}</td>
                    <td width="5%">{{game["naSales"]}}</td>
                    <td width="5%">{{game["euSales"]}}</td>
                    <td width="5%">{{game["jpSales"]}}</td>
                    <td width="5%">{{game["globalSales"]}}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
</div>
{% endblock %}